.razer_container {
    width: 8600px;
    height: 5100px;
    background-color: white;
}

.mac_dock {
    position: absolute;
    top: 90%;
    left: 20%;
    width: 60%;
    height: 8.5%;
}

.mac_dock > div {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.2);
}