/* Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Firefox */
.scrollbar-hide {
    scrollbar-width: none;
}

/* IE and Edge */
.scrollbar-hide {
    -ms-overflow-style: none;
}


/* styles.css */
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.showPage_container {
    animation: slideIn 0.5s ease-out forwards;
}

.showPage_container.hide {
    animation: slideOut 0.5s ease-out forwards;
}

.showPage_container {
    position: fixed;
    width: 80%;
    height: 80%;
    z-index: 10;
    background-color: rgba(215, 215, 215);
    border-radius: 10px;
    border: 0.5px solid white;
}

.showPage_container .close-button {
    transition: all 0.3s ease;
}

.showPage_container .close-button:hover {
    transform: rotate(90deg);
    color: red;
}

.modal_com_container {
    width: 100%;
    height: 100%;
    padding: 0 1% 1% 1%;
}

.part_d {
    height: auto;
    padding: 1%;
}

.part_d .part_d_w {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 4%;
}

hr {
    margin: 0 !important;
}

.part_d_top {
    width: 100%;
}

.part_d_bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4% 0;
}

.skill_icon {
    width: 100px;
    height: 100px;
}

.skill_icon img {
    width: 100%;
    height: 100%;
}