.appContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d67c38;
    color: white;
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #d67c38;
    border-top: 5px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.contentContainer {
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
