.resume_container {
    width: 100%;
    height: 100%;
    background-color: white;
}

.resume_container > div {
    width: 70%;
    height: auto;
    margin-top: 5%;
}

.part_section {
    width: 100%;
    height: auto;
}

.part_section_list > div {
    margin-top: 1rem;
}